body {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    position: fixed;
    border: 5px solid blue;
}

#header-img {
    width: 70px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mailing-list {
    padding-top: 100px;
    border: 5px solid green;
    text-align: center;
}

#collection {
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid purple;
}

#pricing {
    margin: auto;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 60%;
    border: 5px solid yellow;
}

#price1,
#price2,
#price3 {
    height: 400px;
    padding: 15px;
    border: 1px solid black;
}

#product1,
#product2,
#product3 {
    display: flex;
    align-items: center;
}

#product1,
#product2 {
    padding-bottom: 50px;
}

#about {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border: 5px solid red;
}

#box-about {
    width: auto;
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 15px;;
}

li:last-child {
    margin-right: 15px;
}

i {
    min-width: 50px;
    margin-right: 20px;
    font-size: 50px;
}

form {
    padding: 10px;
}

footer {
    text-align: center;
}

@media (min-height: 350px) {

}