html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    position: fixed;
    border: 5px solid blue;
}

#header-img {
    width: 70px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mailing-list {
    padding-top: 100px;
    border: 5px solid green;
    text-align: center;
}

#submit {
    color: purple;
}

#collection {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid purple;
}

#collection-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    border: 1px solid green;
}

#collection-desc {
    display: flex;
    flex-direction: column;
}

#collection-desc > h1 {
    font-size: 30px;
}

#pricing {
    margin: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 60%;
    border: 5px solid yellow;
}

#price1,
#price2,
#price3 {
    height: 400px;
    padding: 15px;
    border: 1px solid black;
}

#product1,
#product2,
#product3 {
    display: flex;
    align-items: center;
}

#about {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border: 5px solid red;
}

#box-about {
    width: auto;
    padding: 15px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: grey;
}

.price-background {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: grey;
    height: 50px;
}

.price-desc {
    text-align: center;
}

.price-desc > h1 {
    margin-bottom: 15px;
}

.price-desc > p {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 15px;;
}

li:last-child {
    margin-right: 15px;
}

i {
    min-width: 50px;
    margin-right: 20px;
    font-size: 50px;
}

form {
    padding: 10px;
}

button {
    color: pink;
}

footer {
    text-align: center;
}

@media (min-height: 350px) {

}